.alert-assiya{
  text-align: center;

}

.none {
  display: none;      
}

.my-center {
  text-align: center;
}

.navbar-dark .navbar-nav .nav-link {
  color: #f8f9fa;
}

.btn-right {
  float: right; 
}

.full-height {
  height: 100vh;
}

.reset-row {
  margin-top: 25%;
  text-align: center;
}

.close-icon {
  color: red;
}

.head-row {
  margin-top: 70px
}
